* {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 40px;
  text-transform: uppercase;
}

h2 {
  font-size: 1.625rem;
  font-weight: 600;
}

h3 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: auto 0;
}

p {
  font-size: .875rem;
  font-weight: 400;
}

li {
  list-style-type: none;
}

.button {
  width: 100%;
  height: 50px;
  background-color: #008dcd;
  border-radius: 40px;
}

.button a {
  display: block;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem;
}

.button:hover {
  -webkit-box-shadow: 0px 5px 10px #008dcd;
          box-shadow: 0px 5px 10px #008dcd;
}

.button-yellow {
  background-color: #fc0;
}

.button-yellow a {
  color: #363636;
}

.input {
  width: 100%;
  height: 50px;
  background-color: #008dcd;
  border-radius: 40px;
  padding: 1rem 1.5rem;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #fff;
}

::-webkit-input-placeholder {
  color: #fff;
  font-size: 1rem;
}

:-ms-input-placeholder {
  color: #fff;
  font-size: 1rem;
}

::-ms-input-placeholder {
  color: #fff;
  font-size: 1rem;
}

::placeholder {
  color: #fff;
  font-size: 1rem;
}

.arrowLeft {
  border-bottom: 2px solid #c4c4c4;
  border-left: 2px solid #c4c4c4;
  width: 17px;
  height: 17px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: -ms-grid;
  display: grid;
}

.arrowRight {
  border-top: 2px solid #c4c4c4;
  border-right: 2px solid #c4c4c4;
  width: 17px;
  height: 17px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: -ms-grid;
  display: grid;
}

.arrowDown {
  border-bottom: 2px solid #008dcd;
  border-right: 2px solid #008dcd;
  width: 13px;
  height: 13px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: -ms-grid;
  display: grid;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 1.5rem 1.25rem;
  width: 320px;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.logo {
  height: 30px;
  width: 100px;
  margin-right: 1.25rem;
}

.header {
  background-image: url("img/main.png");
  background-position-x: -360px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 265px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menuimg {
  height: 30px;
  width: 40px;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menu__long {
  display: none;
  width: 100%;
  line-height: 30px;
}

.header .menu__long a {
  font-size: .875rem;
}

.header__text {
  display: none;
}

.info .button {
  margin-top: 1.5rem;
}

.info h1 {
  margin-bottom: 1.25rem;
}

.we {
  background-color: #f7f7f7;
}

.we img {
  width: 100%;
  margin-bottom: 1.2rem;
}

.we button {
  margin-top: 1.2rem;
}

.we h3 {
  margin-bottom: 0.8rem;
}

.step img {
  width: 100%;
  margin-bottom: 1rem;
}

.step h2 {
  margin-bottom: .5rem;
}

.step p {
  margin-bottom: 1.2rem;
}

.send {
  background-color: #f7f7f7;
}

.send h3 {
  margin-bottom: 1rem;
}

.callback {
  background-color: #008dcd;
}

.callback h1 {
  color: #fff;
}

.callback p {
  color: #fff;
}

.callback .input {
  margin-bottom: .5rem;
  margin-top: .8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.callback .button {
  margin-bottom: .5rem;
}

.callback label {
  color: #fff;
  font-size: .625rem;
}

.feedback h1 {
  margin-bottom: 1rem;
}

.feedbackItem {
      grid-template-areas: "feedbackItem__img feedbackItem__name" "feedbackItem__text feedbackItem__text";
  grid-gap: .75rem;
  grid-column-gap: 0;
}

.feedbackItem__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: feedbackItem__img;
  width: 100px;
  height: 100px;
}

.feedbackItem__text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: feedbackItem__text;
  font-size: .75rem;
}

.feedbackItem__name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: feedbackItem__name;
  margin-top: -5px;
}

.feedbackItem__name p {
  font-size: .625rem;
  line-height: 1.2rem;
}

.feedbackItem__name h2 {
  font-weight: 400;
}

.feedbackItem__name h3 {
  font-weight: 400;
}

.feedback__arrow {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.feedback-grid {
  -ms-grid-columns: 1fr 10fr 1fr;
      grid-template-columns: 1fr 10fr 1fr;
}

.hidden {
  display: none;
}

.plus {
  background-color: #f7f7f7;
}

.plus h1 {
  margin-bottom: 1rem;
}

.plusItems {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.6rem;
  -ms-grid-columns: (minmax(86px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(86px, 1fr));
}

.plusItems p {
  font-size: .75rem;
}

.plusItem {
  text-align: center;
}

.plusItem__img {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background: #fff;
  margin-bottom: 0.75rem;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.plusItem__img-bg1 {
  background-image: url(img/plus1.png);
  background-size: 70%;
}

.plusItem__img-bg2 {
  background-image: url(img/plus2.png);
}

.plusItem__img-bg3 {
  background-image: url(img/plus3.png);
}

.plusItem__img-bg4 {
  background-image: url(img/plus4.png);
}

.plusItem__img-bg5 {
  background-image: url(img/plus5.png);
}

.plusItem__img-bg6 {
  background-image: url(img/plus6.png);
}

.guaranteeItems {
  grid-gap: .75rem;
  grid-column-gap: 0;
  -ms-grid-columns: 1fr 10fr 1fr;
      grid-template-columns: 1fr 10fr 1fr;
}

.guaranteeItems h3 {
  font-size: 1rem;
}

.guaranteeItems p {
  font-size: .75rem;
}

.guaranteeItems__arrow {
  -ms-flex-item-align: self-start;
      -ms-grid-row-align: self-start;
      align-self: self-start;
  margin-top: 2.2rem;
}

.guaranteeItem__img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #f7f7f7;
  float: left;
  margin-right: 1rem;
  background-image: url(img/guarant.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.guaranteeItem__top {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.guaranteeItem button {
  margin-top: 1rem;
}

.questions {
  background-color: #d2ecf7;
}

.questions h1 {
  margin-bottom: 20px;
}

.questions p {
  font-size: 0.75rem;
  vertical-align: middle;
  width: 195px;
  margin-right: 10px;
}

.questionsItem {
  height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  padding: 16px 24px;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.questionsItem__arrow {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.brands-grid {
  -ms-grid-columns: 1fr 10fr 1fr;
      grid-template-columns: 1fr 10fr 1fr;
  margin-top: 15px;
  margin-bottom: 15px;
}

.brandsItems {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(62px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(62px, 1fr));
  grid-gap: 19px;
  padding: 3px;
}

.brandItem {
  width: 66px;
  height: 42px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.brandItem1 {
  background-image: url("img/brand1.png");
}

.brandItem2 {
  background-image: url("img/brand2.png");
}

.brandItem3 {
  background-image: url("img/brand3.png");
}

.brandItem4 {
  background-image: url("img/brand4.png");
}

.brandItem5 {
  background-image: url("img/brand5.png");
}

.brandItem6 {
  background-image: url("img/brand6.png");
}

.brandItem7 {
  background-image: url("img/brand7.png");
}

.brandItem8 {
  background-image: url("img/brand8.png");
}

.doubts {
  background-color: #e9e9e9;
}

.doubts .container {
  width: 290px;
  padding: 1.5rem .95rem;
  border-bottom: 2px solid #c4c4c4;
}

.doubts h2 {
  text-transform: uppercase;
  font-weight: 600;
}

.doubts__form .input {
  background-color: #e9e9e9;
  border: 1px solid #363636;
  margin-top: 15px;
  margin-bottom: 10px;
}

.doubts__form .input::-webkit-input-placeholder {
  color: #363636;
}

.doubts__form .input:-ms-input-placeholder {
  color: #363636;
}

.doubts__form .input::-ms-input-placeholder {
  color: #363636;
}

.doubts__form .input::placeholder {
  color: #363636;
}

.doubts label {
  color: #9e9e9e;
  font-size: .625rem;
  margin-bottom: 10px;
}

.footer {
  background-color: #e9e9e9;
}

.footer .container {
  border-bottom: 2px solid #c4c4c4;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__menuimg {
  height: 30px;
  width: 40px;
}

.footer .copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 20px;
  width: 280px;
  margin: 0 auto;
}

.footer .copy p {
  font-size: .6rem;
}

@media screen and (min-width: 321px) and (max-width: 1440px) {
  .header {
    background-position-x: -260px;
    height: 415px;
  }
  .header__menuimg {
    display: none;
  }
  .header .menu__long {
    display: block;
  }
  .header__text {
    display: block;
    width: 400px;
    margin-top: 60px;
  }
  .header__text h1 {
    font-size: 2.75rem;
    color: #fff;
    line-height: 50px;
  }
  .header__text h3 {
    font-size: 1.75rem;
    color: #fff;
    line-height: 90px;
    font-weight: 700;
  }
  .header__text .button {
    width: 280px;
  }
  .container {
    width: 700px;
  }
  .info {
    display: none;
  }
  .we__text {
    width: 280px;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: wep;
    margin-top: 20px;
  }
  .we .container {
        grid-template-areas: "weh1 weh1 weh1 weh1 weh1" "wep wep weimg weimg weimg" "webtn webtn weimg weimg weimg";
  }
  .we__img {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-area: weimg;
  }
  .we__h3 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: weh1;
  }
  .we__h3 h3 {
    font-size: 2.25rem;
  }
  .we__btn {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: webtn;
  }
  .steps .container {
    -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 80px;
  }
  .send .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .send .container h3 {
    font-size: 1.75rem;
    margin-bottom: 0;
    line-height: 35px;
  }
  .send__text {
    width: 350px;
  }
  .send__btn {
    display: -ms-grid;
    display: grid;
    -ms-grid-row-align: center;
        align-self: center;
  }
  .callback .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .callback__text {
    margin-top: 15px;
  }
  .callback__text h1 {
    margin-bottom: 10px;
  }
  .plusItem__img {
    width: 100px;
    height: 100px;
  }
  .hidden {
    display: -ms-grid;
    display: grid;
  }
  .feedback-grid {
    -ms-grid-columns: 1fr 10fr 10fr 1fr;
        grid-template-columns: 1fr 10fr 10fr 1fr;
    grid-gap: 20px;
  }
  .guaranteeItems {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .guaranteeItems .arrowLeft {
    display: none;
  }
  .guaranteeItems .arrowRight {
    display: none;
  }
  .guaranteeItem__img {
    float: none;
    width: 100px;
    height: 100px;
    margin-bottom: 17px;
  }
  .guaranteeItem__top {
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .guarantee .button {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .questionsItem {
    height: 50px;
  }
  .questionsItem p {
    width: 100%;
    font-size: 1rem;
  }
  .brandsItems {
    grid-gap: 10px;
  }
  .brands-grid {
    -ms-grid-columns: 1fr 18fr 1fr;
        grid-template-columns: 1fr 18fr 1fr;
  }
  .doubts .container {
    width: 700px;
        grid-template-areas: "dh2 df";
  }
  .doubts .container .doubts__h2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: dh2;
    font-size: 1.25rem;
  }
  .doubts .container .doubts__form {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: df;
  }
  .doubts form {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "inp btn" "check check";
  }
  .doubts .input {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: inp;
    width: 220px;
  }
  .doubts .button {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: btn;
    width: 220px;
  }
  .doubts .doubts__form_ch {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: check;
  }
  .footer__menuimg {
    display: none;
  }
  .footer .menu__long {
    width: 100%;
  }
  .footer .menu__long ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .menu__long ul li a {
    color: #000;
    line-height: 30px;
    font-size: 0.825rem;
  }
  .footer .copy {
    width: 700px;
    font-size: .75rem;
  }
  .footer .copy span {
    margin-right: 24px;
  }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__img {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-size: cover;
  }
  .footer__img1 {
    background-image: url("img/fb.png");
  }
  .footer__img2 {
    background-image: url("img/inst.png");
  }
  .footer__img3 {
    background-image: url("img/vk.png");
  }
}
/*# sourceMappingURL=style.css.map */