
$background-color: #ccc
$background-color-blueish: #008dcd
$background-color-yellowish: #fc0
$background-color-lightblueish: #d2ecf7
$background-color-lightish: #f7f7f7
$background-color-greyish: #e9e9e9
$border-bottom: #c4c4c4
$font-color-main: #000
$font-color-bluebutton: #fff
$font-color-foryellowbutton: #363636
$font-color-checkbox: #9e9e9e

*
  margin: 0
  padding: 0

body
  color: $font-color-main
  font-family: 'Source Sans Pro', sans-serif

h1
  font-size: 2rem
  font-weight: 900
  line-height: 40px
  text-transform: uppercase

h2
  font-size: 1.625rem
  font-weight: 600

h3
  font-size: 1.125rem
  font-weight: 700
  line-height: 1.5rem
a
  text-decoration: none
  color: $font-color-bluebutton
  display: block
  margin: auto 0

p
  font-size: .875rem
  font-weight: 400

li 
  list-style-type: none

.button
  width: 100%
  height: 50px
  background-color: $background-color-blueish
  border-radius: 40px
  & a
    display: block
    color: $font-color-bluebutton
    font-size: 1rem
    font-weight: 700
    text-transform: uppercase
    padding: 1rem
  &:hover
    box-shadow: 0px 5px 10px $background-color-blueish
  &-yellow
    background-color: $background-color-yellowish
    & a
      color: $font-color-foryellowbutton

.input
  width: 100%
  height: 50px
  background-color: $background-color-blueish
  border-radius: 40px
  padding: 1rem 1.5rem
  color: $font-color-bluebutton
  box-sizing: border-box
  border: 1px solid $font-color-bluebutton

::placeholder
  color: $font-color-bluebutton
  font-size: 1rem

.arrowLeft
  border-bottom: 2px solid #c4c4c4
  border-left: 2px solid #c4c4c4
  width: 17px
  height: 17px
  transform: rotate(45deg)
  display: grid

.arrowRight
  border-top: 2px solid #c4c4c4
  border-right: 2px solid #c4c4c4
  width: 17px
  height: 17px
  transform: rotate(45deg)
  display: grid

.arrowDown
  border-bottom: 2px solid #008dcd
  border-right: 2px solid #008dcd
  width: 13px
  height: 13px
  transform: rotate(45deg)
  display: grid

.container
  box-sizing: border-box
  margin: 0 auto
  padding: 1.5rem 1.25rem
  width: 320px

.grid
  display: grid

.logo
  height: 30px
  width: 100px
  margin-right: 1.25rem

.header
  background-image: url('img/main.png')
  background-position-x: -360px
  background-repeat: no-repeat
  background-size: cover
  height: 265px

  &__menu
    display: flex
    justify-content: space-between
    &img
      height: 30px
      width: 40px
    & ul
      display: flex
      justify-content: space-between

  & .menu__long
    display: none
    width: 100%
    line-height: 30px

    & a
      font-size: .875rem

  &__text
    display: none

.info .button
  margin-top: 1.5rem

.info h1
  margin-bottom: 1.25rem

.we
  background-color: $background-color-lightish
  & img
    width: 100%
    margin-bottom: 1.2rem
  & button
    margin-top: 1.2rem
  & h3
    margin-bottom: 0.8rem

.step
  & img
    width: 100%
    margin-bottom: 1rem
  & h2
    margin-bottom: .5rem
  & p
    margin-bottom: 1.2rem

.send
  background-color: $background-color-lightish
  & h3
    margin-bottom: 1rem

.callback
  background-color: $background-color-blueish
  & h1
    color: $font-color-bluebutton
  & p
    color: $font-color-bluebutton
  & .input
    margin-bottom: .5rem
    margin-top: .8rem
    box-sizing: border-box

  & .button
    margin-bottom: .5rem
  & label
    color: $font-color-bluebutton
    font-size: .625rem

.feedback

  & h1
    margin-bottom: 1rem

  &Item
    grid-template-areas: "feedbackItem__img feedbackItem__name" "feedbackItem__text feedbackItem__text"
    grid-gap: .75rem
    grid-column-gap: 0

    &__img
      grid-area: feedbackItem__img
      width: 100px
      height: 100px

    &__text
      grid-area: feedbackItem__text
      font-size: .75rem

    &__name
      grid-area: feedbackItem__name
      margin-top: -5px

      & p
        font-size: .625rem
        line-height: 1.2rem
      & h2
        font-weight: 400
      & h3
        font-weight: 400

  &__arrow
    align-self: center

  &-grid
    grid-template-columns: 1fr 10fr 1fr

.plus
  background-color: $background-color-lightish

  & h1
    margin-bottom: 1rem

  &Items
    display: grid
    grid-gap: 0.6rem
    grid-template-columns: repeat(auto-fit, minmax(86px, 1fr))
    & p
      font-size: .75rem
  
  &Item
    text-align: center

    &__img
      width: 86px
      height: 86px
      border-radius: 50%
      background: #fff
      margin-bottom: 0.75rem
      background-size: 50%
      background-repeat: no-repeat
      background-position: center

      &-bg1
        background-image: url(img/plus1.png)
        background-size: 70%
      &-bg2
        background-image: url(img/plus2.png)
      &-bg3
        background-image: url(img/plus3.png)
      &-bg4
        background-image: url(img/plus4.png)
      &-bg5
        background-image: url(img/plus5.png)
      &-bg6
        background-image: url(img/plus6.png)

.guarantee
  &Items
    grid-gap: .75rem
    grid-column-gap: 0
    grid-template-columns: 1fr 10fr 1fr

    & h3
      font-size: 1rem

    & p
      font-size: .75rem

    &__arrow
      align-self: self-start
      margin-top: 2.2rem

  &Item 
    &__img
      width: 62px
      height: 62px
      border-radius: 50%
      background-color: $background-color-lightish
      float: left
      margin-right: 1rem
      background-image: url(img/guarant.png)
      background-repeat: no-repeat
      background-size: 50%
      background-position: center
    
    &__top
      margin-top: 1rem
      margin-bottom: 1rem

    & button
      margin-top: 1rem

.questions
  background-color: $background-color-lightblueish
  
  & h1
    margin-bottom: 20px
  
  & p
    font-size: 0.75rem
    vertical-align: middle
    width: 195px
    margin-right: 10px
    
  &Item
    height: 80px
    box-sizing: border-box
    background-color: $font-color-bluebutton
    width: 100%
    padding: 16px 24px
    border-radius: 32px
    display: flex
    margin-bottom: 10px

    &__arrow
      align-self: center
      
.brands

  &-grid
    grid-template-columns: 1fr 10fr 1fr
    margin-top: 15px
    margin-bottom: 15px

  &Items
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(62px, 1fr))
    grid-gap: 19px
    padding: 3px

.brandItem
  width: 66px
  height: 42px
  background-size: contain
  background-repeat: no-repeat

  &1
    background-image: url('img/brand1.png')
  &2
    background-image: url('img/brand2.png')
  &3
    background-image: url('img/brand3.png')
  &4
    background-image: url('img/brand4.png')
  &5
    background-image: url('img/brand5.png')
  &6
    background-image: url('img/brand6.png')

.doubts
  background-color: $background-color-greyish

  & .container
    width: 290px
    padding: 1.5rem .95rem
    border-bottom: 2px solid #c4c4c4

  & h2
    text-transform: uppercase
    font-weight: 600

  &__form .input
    background-color: $background-color-greyish
    border: 1px solid $font-color-foryellowbutton
    margin-top: 15px
    margin-bottom: 10px

    &::placeholder
      color: $font-color-foryellowbutton

  & label
    color: $font-color-checkbox
    font-size: .625rem
    margin-bottom: 10px

.footer
  background-color: $background-color-greyish

  & .container
    border-bottom: 2px solid #c4c4c4

  &__menu
    display: flex
    justify-content: space-between

    &img
      height: 30px
      width: 40px
  
  & .copy
    display: flex
    justify-content: space-between
    padding: 18px 20px
    width: 320px
    margin: 0 auto

    & p
      font-size: .625rem

@media screen and (min-width: 321px) and (max-width: 1440px)

  .header
    background-position-x: -260px
    height: 415px

    &__menuimg
      display: none
    
    & .menu__long
      display: block

    &__text
      display: block
      width: 400px
      margin-top: 60px

      & h1
        font-size: 2.75rem
        color: $font-color-bluebutton 
        line-height: 50px

      & h3
        font-size: 1.75rem
        color: $font-color-bluebutton 
        line-height: 90px
        font-weight: 700

      & .button
        width: 280px


  .container
    width: 700px

  .info
    display: none
  